main>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}

@media (max-width: 640px) {

  main>div {
    gap: 12px;
  }

  main img {
    width: 45%;
    height: 45%;
    object-fit: cover;
  }
}